<form action="/dogs" method="post">
  <label for="name">Name: </label>
  <input type="text" name="dog[name]"><br/>
  <label for="breed">Breed: </label>
  <input type="breed" name="dog[breed]"><br/>
  <input type="submit" value="Add a dog">
</form>
